.SuccessPage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    overflow: auto;
}

.SuccessPage .SuccessWrap {
    position: absolute;
    top: 15%;
    bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 40rem;
    height: auto;
    padding: 5rem;
    gap: 4rem;
}

.SuccessPage .SuccessWrap .logoWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.SuccessPage .SuccessWrap .logoWrap img {
    width: 10rem;
}

.SuccessPage .SuccessWrap span {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 1.1rem;
    font-size: 1.1rem;
}

.SuccessPage .SuccessWrap .buttonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.SuccessPage .SuccessWrap .buttonWrap input[type='button'] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #fcc1cc;
    box-sizing: border-box;
    padding: 0.3rem 3rem;
    width: 30%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.SuccessPage .SuccessWrap .buttonWrap input[type='button']:hover {
    background-color: #fff;
    color: #fcc1cc;
    border: 1px solid #fcc1cc;
}

@media screen and (max-width: 1250px) {    
    .SuccessPage {
        width: 100%;
        height: 80vh;
        background-color: #f2f2f2;
    }

    .SuccessPage .SuccessWrap {
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .SuccessPage .SuccessWrap {
        padding: 0;
        box-shadow: none;
        border-radius: 0;
    }

    .SuccessPage .SuccessWrap .buttonWrap input[type='button'] {
        padding: 0.4rem 0.2rem;
    }
}

@media screen and (max-height: 700px) {
    .SuccessPage {
        overflow: auto;
    }

    .SuccessPage .SuccessWrap {
        top: 0;
        bottom: 0;
        box-shadow: none;
    }
}