.JoinPage {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.JoinPage #join_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}

.JoinPage .joinbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F4F4F4;
    width: 60%;
    border-radius: 25px;
    background-color: var(--loginBackground-color);
    box-sizing: border-box;
    padding: 2rem;
}

.JoinPage #warn {
    color: #737373; 
    font-size: 11px;  
    text-decoration: none;
    cursor: default;
}

.JoinPage input[type="password"] {
    margin-top: 5px; 
}

.JoinPage input[type="text"] {
    margin-top: 5px; 
}

.JoinPage .join-align {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.joinbox .namebox,.joinbox .pwdbox,.joinbox .emailbox,.joinbox .repwdbox,.joinbox .phonebox,.joinbox .addrbox ,.joinbox .detailaddrbox{
    border-radius: 10px; 
    border-style: none;
    padding: 12px 12px; 
    font-size: 16px; 
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
}

.joinbox input[type="text"]:focus, 
.joinbox input[type="password"]:focus, 
.joinbox input[type="email"]:focus, 
.joinbox input[type="text"]:active, 
.joinbox input[type="password"]:active, 
.joinbox input[type="email"]:active, 
.joinbox input[type="text"]:not(:placeholder-shown),
.joinbox input[type="password"]:not(:placeholder-shown),
.joinbox input[type="email"]:not(:placeholder-shown) {
    outline: 2px solid #fcc1cc;
}

.JoinPage .checknumbox,.JoinPage .zip-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.8rem;
}

.JoinPage .checknumbox,.JoinPage .zipcodebox{
    border-radius: 10px; 
    border-style: none;
    padding: 12px 12px; 
    font-size: 16px; 
    width: 80%;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-right: 5px;
}

.JoinPage .checknumBtn,.JoinPage .checkBtn,.JoinPage .zipcheckBtn,.JoinPage .joinBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    box-sizing: border-box;
    padding: 10px 0px;
    font-size: 10pt;
    border-radius: 10px;
    color: white;
    width: 100%;
    cursor: pointer;  
    border: 1px solid #FFD8E4;   
    background-color: var(--loginBtnBackground-color);
    margin-top: 5px; 
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.JoinPage .checknumBtn,.JoinPage .zipcheckBtn {
    width: 20%;
    height : 45px;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.JoinPage .join-align-inside {
    margin-top: 1em;
}

.JoinPage .dalin a {
    text-decoration: none; 
    color: #737373; 
    font-size: 11px; 
}

.JoinPage .dalin a:hover {
    color: lightcoral;
}

.JoinPage .radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    box-sizing: border-box;
    padding: 10px 20px;           
    font-size: 16px;              
    border-radius: 10px;             
    color: #fd9bb9;   
    width: 50%;
    cursor: pointer;  
    border: 1px solid #FFD8E4;   
    background-color: white; 
    margin-top: 5px; 
    font-size: 16px;  
    font-weight: bold;
}

.JoinPage .checknumBtn:hover, .JoinPage .checkBtn:hover, .JoinPage .zipcheckBtn:hover, .JoinPage .joinBtn:hover, .JoinPage .radio:hover {
    background-color: var(--white32Background-color);
    color: #fd9bb9; 
}

.JoinPage .select {
    display: flex; 
    gap: 10px; 
    align-items: center; 
}
.JoinPage .select input[type=radio]{
    display: none;
}

.JoinPage .select input[type=radio]+label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 20px;    
    border: 1px solid #FFD8E4;   
    margin-top: 5px; 
    font-size: 16px;  
    font-weight: bold;
}

.JoinPage .select input[type=radio]+label{
    background-color: var(--background-color);
    color: #fd9bb9; 
}

.JoinPage .select input[type=radio]:checked+label{
    background-color: #FFD8E4; 
    color: var(--blackText-color);
}

.JoinPage .dalin {
    margin-top: 1em;
}

.JoinPage .errorWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.JoinPage .errorWrap .error {
    font-size: 0.725rem;
    width: 100%;
    color: red;
}

.errorWrap .success {
    font-size: 0.725rem;
    width: 100%;
    color: green;
}
.errorWrap .success {
    color: green;
}


@media screen and (max-width: 1250px) {
    .JoinPage {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }

    .JoinPage #join_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .JoinPage #join_container h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #525252;
        font-size: 1rem;
        margin-bottom: 1.2em;
    }

    .JoinPage #join_container .joinbox {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border: none;
        border-top: 2px solid #f2f2f2;
        border-radius: 0;
        padding: 0;
        padding-top: 1em;
        width: 100%;
    }

    .JoinPage #join_container .joinbox .zip-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .JoinPage #join_container .joinbox .zip-box .join-align {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .JoinPage #join_container .joinbox input[type='text'],
    .JoinPage #join_container .joinbox input[type='password'],
    .JoinPage #join_container .joinbox input[type='email'] {
        border: none;
        outline: none;
        border-radius: 0;
        border-bottom: 1px solid #fcc1cc;
        height: 2.5em;
        box-sizing: border-box;
        color: #626262;
    }

    .JoinPage #join_container .joinbox input[type='text']:focus,
    .JoinPage #join_container .joinbox input[type='text']:not(:placeholder-shown),
    .JoinPage #join_container .joinbox input[type='password']:focus,
    .JoinPage #join_container .joinbox input[type='password']:not(:placeholder-shown),
    .JoinPage #join_container .joinbox input[type='email']:focus,
    .JoinPage #join_container .joinbox input[type='email']:not(:placeholder-shown) {
        border-bottom: 2px solid lightcoral;
        box-sizing: border-box;
    }

    .JoinPage .errorWrap {
        width: 100%;
    }

    .JoinPage .errorWrap .error {
        width: 100%;
    }
}