.infoWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    color: #333;
    margin-bottom: 1em;
}

.info-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nickname {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.icon-buttons .heart {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    margin-left: 10px;
}

/* Hover effect */
.icon-buttons .heart:hover {
    background-color: #ffe0e0;
}

/* Favorited heart (when isFavorite is true) */
.icon-buttons .heart.favorited {
    background-color: #fff; /* Light red background for favorited state */
    color: #ffbbb3; /* Red color */
}

/* Not favorited heart */
.icon-buttons .heart.not-favorited {
    background-color: #fff; /* White background for non-favorited state */
    color: #f2f2f2; /* Gray color */
}

/* Change SVG fill color based on favorited state */
.icon-buttons .heart.favorited svg path {
    fill: #ffbbb3; /* Red fill for favorited */
}

.icon-buttons .heart.not-favorited svg path {
    fill: none; /* No fill for non-favorited */
}

.info-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 1rem;
}

.info-sub-header div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: right;
}

.category {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    padding: 5px 10px;
    background-color: #e8e8e8;
    border-radius: 20px;
}

.info-sub-header .category {
    margin-bottom: 1rem;
}

.address {
    font-size: 1rem;
    color: #888;
}

.info-sub-header svg {
    margin: 0 5px;
    fill: #888;
}

.introduce {
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}

.detail-info {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.statistics-info {
    display: flex;
    justify-content: space-between;
}

.statistics-info-item {
    text-align: center;
    flex: 1;
}

.statistics-info-item:not(:last-child) {
    border-right: 1px solid #e8e8e8;
}

.statistics-info-item-header {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.statistics-info-item-contents {
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.statistics-info-item-contents .rate {
    color: #f39c12;
    font-weight: bold;
}

.statistics-info-item-contents .count {
    color: #888;
    font-size: 14px;
    margin-left: 5px;
}

@media (max-width: 1250px) {
    .infoWrap {
        padding: 20px;
        margin: 0 auto;
        display: flex;
        box-sizing: border-box;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1em;
        background-color: #f4f4f4;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin: 0 auto;
        background-color: #f4f4f4;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: "Arial", sans-serif;
        color: #333;
    }

    .info-section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5px;
        margin-bottom: 1%;
        margin-top: -15px;
        box-sizing: border-box;
        width: 100%;
    }

    .info-sub-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .info-sub-header .category {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
    }

    .info-sub-header div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        gap: 0.25rem;
        margin-bottom: 1rem;
    }

    .info-sub-header div:nth-child(1) .address {
        font-size: 0.8rem;
        width: auto;
    }
}
