.reviewsPage {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    color: #333;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2em;
}

.reviewsPage .reviewWrap {
    width: 100%;
}

.reviewsPage .reviewWrap .reviewList {
    width: 100%;
}

.reviewsPage .reviewWrap .reviewList h3 {
    color: #444;
    margin-bottom: 15px;
}

.reviewsPage .reviewWrap .reviewList .summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reviewsPage .reviewWrap .reviewList .summary .avg {
    font-size: 32px;
    font-weight: bold;
    color: #222;
    margin-right: 15px;
    margin-left: 14px;
}

.reviewsPage .reviewWrap .reviewList .summary .rate-star {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.reviewsPage .reviewWrap .reviewList .summary .rate-star li {
    color: #f39c12;
    font-size: 20px;
}

.reviewsPage .reviewWrap .reviewList .summary .review-count {
    font-size: 14px;
    color: #888;
    margin-left: 20px;
}

.reviewsPage .checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    margin-bottom: 10px;
}

.reviewsPage .checkbox svg {
    margin-right: 10px;
}

.reviewsPage .dropdown-btn {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reviewsPage .dropdown-btn div .sort-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 8px 15px;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.reviewsPage .dropdown-btn div .sort-btn:hover {
    background-color: #f1f1f1;
}

.reviewsPage .dropdown-btn div .dropdown-menu {
    display: none;
    list-style: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    top: 34.6%;
    left: 10%;
    width: 20%;
    height: 8rem;
}

.reviewsPage .dropdown-btn div .dropdown-menu li a {
    font-size: 0.825rem;
    color: #323232;
}

.reviewsPage .dropdown-btn:hover .dropdown-menu {
    display: block;
}

.reviewsPage .sort-item {
    padding: 8px;
    cursor: pointer;
}

.reviewsPage .sort-item:hover {
    background-color: #f1f1f1;
}

.reviewsPage .all-review {
    width: 100%;
    margin-top: 20px;
}

.reviewsPage .review-container {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.reviewsPage .review-container li {
    margin-bottom: 1em;
}

.reviewsPage .user-review {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.reviewsPage .user-review section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.reviewsPage .user-review section:nth-child(1) span {
    width: 40%;
}

.reviewsPage .user-review section:nth-child(1) div {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 60%;
    justify-content: right;
}

.reviewsPage .user-review section:nth-child(1) div .starColor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    color: #f39c12;
    font-size: 1rem;
}

.reviewsPage .user-review section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 10px;
    gap: 1rem;
}

.reviewsPage .author {
    font-weight: bold;
    color: #333;
}

.reviewsPage .review-photo {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 15%;
}

.reviewsPage .review-photo img {
    width: 5rem;
    height: 5rem;
    border-radius: 20%;
}

.reviewsPage .review-content {
    width: 85%;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.reviewsPage .review-content .review-content-detail {
    overflow-wrap: anywhere;
}

.reviewsPage .date {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 12px;
    margin-top: 10px;
    color: #888;
}

@media (max-width: 1250px) {
    .reviewsPage {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin: 0 auto;
        font-family: "Arial", sans-serif;
        color: #333;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .reviewsPage .review-list {
        width: 100%;
    }

    .reviewsPage .review-content {
        width: 75%;
        font-size: 14px;
        color: #555;
        line-height: 1.6;
    }

    .reviewsPage .review-photo img {
        width: 5rem;
        height: 5rem;
        border-radius: 20%;
    }

    .reviewsPage .user-reivew section:nth-child(2) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        /* gap: 1em; */
    }

    .reviewsPage .review-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

    .reviewsPage .dropdown-menu {
        display: none;
        list-style: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        top: 30.6%;
        left: 10%;
        width: 35%;
        height: 7.55rem;
    }

    .reviewsPage .avg {
        font-size: 32px;
        font-weight: bold;
        color: #222;
        margin-right: 15px;
    }

    .reviewsPage .user-reivew {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
    }
}
