.proSearchPage {
    width: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proSearchPage .ContentWrap {
    width: 95%;
    height: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proSearchPage .ContentWrap section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchHeaderWrap {
    width: 95%;
    margin-top: 5%;
}

.searchHeaderWrap h1 {
    margin-bottom: 2rem;
}

.proSearchBarWrap {
    display: flex;
    align-items: center; /* 세로 정렬 */
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    gap: 1rem;
}

.proSearchInputBarWrap {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 정렬 */
    justify-content: center;
    width: 80%; /* 검색창의 너비 설정 */
    background-color: #eee;
    border: 2px solid #eee;
    box-sizing: border-box;
    border-radius: 10px;
}

.proSearchInputBarWrap img {
    margin: 0 10px; /* 이미지와 입력창 간격 */
    width: 20px;
    height: 20px;
}

.proSearchInputBarWrap input {
    flex: 1; /* 입력창이 남은 공간 채우도록 설정 */
    padding: 10px; /* 패딩 설정 */
    height: 40px; /* 높이를 조정 */
    background-color: #eee;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.proSearchInputBarWrap:focus-within{
    border: 2px solid #fcc1cc;
    background-color: white;
    box-sizing: border-box;
}
.proSearchInputBarWrap input:focus {
    outline: none;
    background-color: white;
}

.mapBtnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.mapBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(89, 185, 105);
    border-radius: 10px;
    cursor: pointer;
    color:white;
}

.mapBtn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mapBtn .mapTitle {
    font-size: 1rem;
}

/* SearchList 컴포넌트 CSS */
.proSearchListWrap {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: 15px; /* 항목 간 간격 */
}

.proSearchListAWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd; /* 테두리 추가 (선택 사항) */
    border-radius: 5px; /* 둥근 모서리 */
    padding: 10px; /* 내부 여백 */
}

.proSearchListLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 9rem);
}

.proSearchListLink:visited{text-decoration: none; color: black;}
.proSearchListLink:hover{text-decoration: none; color: black;}
.proSearchListLink:link{text-decoration: none; color: black;}
.proSearchListLink:active{text-decoration: none; color: black;}

.proSearchListContentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.proSearchListProfileWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
}

.proSearchListProfileWrap .user-profile-picture {
    width: 100%;
    height: 100%;
}

.proSearchListProfileWrap .user-profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.proSearchListTitleWrap {
    font-weight: bold; /* 제목 강조 */
}

.proSearchListTitleWrap h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    word-break: break-all;
    overflow: hidden;
}

.service_areaHeader button span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.proSearchListProInfoWrap {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.proSearchListProInfoWrap span {
    font-size: 0.825rem;
    color: #626262;
    font-weight: bold;
}

.proSearchListIntro {
    white-space: pre-wrap; /* 줄 바꿈 및 공백 유지 */
    font-size: 0.9rem;
    color: #898888;
    margin-bottom: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.ServiceAreaModal .closeButton {
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px; /* 버튼과 모달 내용 간격 */
}

@media (max-width: 1250px) {
    .ContentWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
    }

    .proSearchPage .ContentWrap section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .proSearchBarWrap {
        align-items: flex-start; /* 왼쪽 정렬 */
    }

    .proSearchInputBarWrap {
        width: 100%; /* 검색창 너비를 100%로 설정 */
        margin-bottom: 10px; /* 버튼과의 간격 */
        height: 40px;
    }

    .mapBtn {
        width: 100%; /* 버튼 너비를 100%로 설정 */
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mapBtn .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .mapTitle {
        display: none;
        width: 0;
    }

    .service_areaHeader {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 0.5rem; /* 간격 조정 */
        margin-bottom: 1rem;
    }

    .service_areaHeader button span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    .service_areaHeader button span svg {
        width: 0.9rem;
    }

    section .proSearchListWrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
    section .proSearchListWrap .proSearchListLink{
        width: calc(100% - 7rem);
    }

    section .proSearchListWrap .proSearchListProfileWrap {
        width: 6rem;
        height: 6rem;
    }

    .proSearchListAWrap{
        width: 100%;
        box-sizing: border-box;
    }
}

/* 뭐가 문제지 */