.ServiceIntroPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.ServiceIntroPage h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.ServiceIntroPage .ServiceIntroWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntro .ServiceContentLength {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80%;
    margin-top: 1rem;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntro label {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
    margin-bottom: 1rem;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntro textarea {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #b1b1b1;
    outline: none;
    resize: none;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntro input[type='number'] {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #b1b1b1;
    padding: 0.5rem;
    font-size: 1rem;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntro textarea:focus,
.ServiceIntroPage .ServiceIntroWrap .ServiceIntro textarea:not(:placeholder-shown) {
    border: 1px solid #fcc1cc;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntro input[type='number']:focus,
.ServiceIntroPage .ServiceIntroWrap .ServiceIntro input[type='number']:not(:placeholder-shown) {
    border-bottom: 1px solid #fcc1cc;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntroButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 1rem;
    margin-bottom: 2rem;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntroButtonWrap button {
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #fcc1cc;
    background-color: #fff;
    color: #fcc1cc;
    font-size: 1rem;
    transition: 0.3s ease;
}

.ServiceIntroPage .ServiceIntroWrap .ServiceIntroButtonWrap button:hover,
.ServiceIntroPage .ServiceIntroWrap .ServiceIntroButtonWrap button:active {
    background-color: #fcc1cc;
    color: #fff;
}

.ServiceIntroPage .errorCode {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
    margin-top: 0.25rem;
}

.ServiceIntroPage .errorCode div {
    width: 100%;
}