.ProJoinSubPage {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProJoinSubPage #ProJoinSub_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 
    padding: 20px;
}

.ProJoinSubPage .ProJoinSub_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F4F4F4;
    width: 650px;
    border-radius: 25px;
    background-color: #F4F4F4;
    box-sizing: border-box;
    padding-bottom: 2em;
}

.ProJoinSubPage .detail-item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    width: 400px;
    background-color: #FFFF; 
    border-radius: 10px; 
    padding: 20px 20px; 
    margin: 11px;
    font-weight: bold;
}


.ProJoinSubPage .prevBtn, .ProJoinSubPage .nextBtn{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 10px 20px;
    font-size: 16px;              
    border-radius: 8px;     
    width: 310px;            
    cursor: pointer;  
    font-weight: bold;
    border: 1px solid #fd9bb9;  
    background-color: white; 
    color: #fd9bb9;
}

.ProJoinSubPage .moveBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    gap: 30px;
    margin-top: 20px;
}
.ProJoinSubPage .prevBtn:hover, .ProJoinSubPage .nextBtn:hover {
    border: 1px solid #fcc1cc;   
    background-color: #fcc1cc; 
    color: white;
}


.ProJoinSubPage input[type="checkbox"] {
        width: 18px;
        height: 18px;
        accent-color: #fd9bb9;
}

.ProJoinSubPage #projoinSub_container .ProJoinSub_box .detail-wrap .detail-item:has(input[type='checkbox']:checked) {
    background-color: #fcc1cc;
}

@media screen and (max-width: 1250px) {
    .ProJoinSubPage {
        width: 100%;
        height: 95vh;
        margin: 0 auto;
        margin-top: -1.5em;
    }

    .ProJoinSubPage #projoinSub_container {
        width: 90%;
    }

    .ProJoinSubPage #projoinSub_container .ProJoinSub_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
        border: none;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .ProJoinSubPage #projoinSub_container .ProJoinSub_box .detail-wrap {
        margin: 0;
        padding: 2em;
        width: 90%;
    }

    .ProJoinSubPage #projoinSub_container .ProJoinSub_box .detail-wrap .detail-item {
        display: flex;
        align-items: center;
        justify-content: left;
        box-sizing: border-box;
        background-color: #dfdfdf;
        margin: 1em 0;
        padding: 1em;
        width: 100%;
    }

    .ProJoinSubPage #projoinSub_container .moveBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2em;
    }

    .ProJoinSubPage #projoinSub_container .moveBtn span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
    }

    .ProJoinSubPage #projoinSub_container .moveBtn span button {
        width: 100%;
    }
}