.detail-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.dalin-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.dalin-photo-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;
}

.dalin-photo-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 175px;
    left: 30%;
    margin: 0;
    padding: 0;  
}

.dalin-photo-main img {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: 2px solid white;
    margin: 0;
    padding: 0;
}

.dalin-photo-background img {
    width: 100%;
}

.detail-view-wrap {
    /* width: 60%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
}

.dalin-mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 0.1em;
}

.dalin-mainpage .leftWrap {
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* .dalin-mainpage .rightWrap {
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
} */

.relativeWrap {
    position: absolute;
    bottom: 300px;
}

.dalin-hr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.leftWrap {
    margin-bottom: 4%;
}

.reservation-modalBtn {
    display: flex;
    gap: 0.5em;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #FFD8E4;
    background-color: var(--loginBtnBackground-color);
    color: white;
    cursor: pointer;  
    font-weight: bold;
    width: 13em;
}

.reservationBtn-modal-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservationBtn-modal-button-wrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 90%;
    padding: 20px;
}

.reservationBtn:hover {
    background-color: white; 
    color: #fd9bb9; 
}

.reservation-modal-close {
    background-color: white;
    border: none;
    font-size: 18px; 
    border-radius: 5px; 
    color: #522823; 
    cursor: pointer;
  }
  
 .reservation-modal-close:hover {
    background: #522823;
    color: white;
  }

  @media (max-width: 1250px) {
    .detail-view-wrap {
        width: 95%; /* 화면 가득 차게 설정 */
    }
    /* .detail-view-wrap {
        width: 100%; 
        padding-right: 0; 
        margin-right: 0; 오른쪽 여백 제거
    } */
    .dalin-mainpage .leftWrap {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: -1em;
        margin-bottom: 2.5em;
    }
    .dalin-photo-background {
        width: 100%; 
        height: 180px;
        margin-bottom: 2.5em;
    }

    .dalin-photo-main {
        top: 160px;
        left: 5%; 
        width: 140px;
        height: 140px;
    }

    .dalin-photo-main img {
        width: 140px;
        height: 140px;
        border-radius: 25%;
    }

    .dalin-mainpage {
        flex-direction: row;
        gap: 2em;
        width: 100%; /* 가로 폭 100%로 설정 */
        padding-right: 0; /* 오른쪽 공백 제거 */
    }

    .reservationBtn-modal-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reservationBtn-modal-button-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 0;
        padding-bottom: 1rem;
    }

    .reservationBtn-modal-button-wrap .reservation-modalBtn {
        width: 100%;
    }

    .dalin-mainpage {
        display: flex;
        justify-content: center;
        gap: 1.3em;
        align-items: center;
        width: 100%;
    }
}