/* 예약 모달 전체 스타일 */
.reservation-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 95%;
}

.reservation-controller {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.product-title h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #522823;
    margin: 20px 0;
    width: 95%;
}

.reservation-wrap ol {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 4%;
    margin-left: 4%;
}

.reservation-wrap ol li a {
    text-decoration: none;
    font-size: 1rem;
    text-shadow: 0 0 1px rgb(119, 119, 119);
    color: rgb(53, 10, 10);
    transition: color 0.2s ease-in-out;
    font-weight: bold;
}

.reservation-wrap ol li a:hover {
    color: #a8a8a8;
}

.options-wrapper {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 8%;
    color: #2c2c2c;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 0.5em;
}

.product-reservation-date .picker-items {
    flex-wrap: wrap;
    font-weight: bold;
    list-style: none;
}

.custom-radio {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    margin-top: 5%;
}

.custom-radio-box {
    width: 16px;
    height: 16px;
    border: 2px solid #522823;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    position: relative;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio input[type="radio"]:checked + .custom-radio-box {
    background-color: #522823;
    border-color: #522823;
}

.reservation-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.reservation-timebox {
    width: 100%;
    margin-top: 20px;
}

.reservation-timelist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 4rem);
    box-sizing: border-box;
    width: 100%;
    gap: 0.5rem;
    column-gap: 1rem;
    padding: 0.2em;
    margin-top: -2.8em;
    list-style: none;
    font-weight: bold;
}

.reservation-time-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 15px;
    list-style: none;
    color: #522823;
    width: 100%;
    margin: 5px 3px;
    transition: ease-in-out 0.3s;
}

.reservation-time-item .pull {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.reservation-time-item:hover {
    background-color: #d5b8b4;
    color: white;
}

/* 날짜가 선택되지 않았을 때, 시간 클릭 막기 */
.reservation-time-item.disabled {
    pointer-events: none; /* 클릭 불가 */
    opacity: 0.5; /* 흐리게 표시 */
    background-color: #e6e6e6; /* 비활성화된 배경색 */
    color: #999; /* 비활성화된 글자색 */
    cursor: not-allowed; /* 클릭 불가 */
}

.reservation-time-item.disabled input {
    pointer-events: none; /* 클릭 불가 */
}

/* 날짜를 선택했을 때 적용되는 스타일 */
.reservation-time-item.selected {
    background-color: #522823; /* 배경색 변경 */
    color: white; /* 글자색 변경 */
    border-radius: 15px; /* 둥근 테두리 */
}

/* 체크박스를 숨기고, 커스터마이즈된 네모 상자 스타일 */
.custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
}

.custom-checkbox-box {
    width: 100%;
    height: 100%;
    border: 2px solid #522823;
    border-radius: 4px;
    margin-right: 8px;
    display: inline-block;
    position: relative;
}

.custom-checkbox div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox-box:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox-box:after {
    transform: translate(-50%, -50%) scale(1);
}

/* 버튼 스타일 */
.btn-controller {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-prev,
.btn-next {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #522823;
    transition: color 0.2s ease-in-out;
}

.btn-prev:hover,
.btn-next:hover {
    color: #522823;
}

.reservationBtn-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.reservation-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #522823;
    border: 1px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-sizing: border-box;
}

.reservation-btn:hover {
    background-color: white;
    border: 1px solid #522823;
    color: #522823;
    box-sizing: border-box;
}

.day-text {
    font-weight: bold;
    color: #828282;
    font-size: 1rem;
}

.date-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.1rem;
    border-radius: 50%;
    color: #828282;
    font-size: 1.3rem;
    cursor: pointer;
    border: 2px solid #fce9ed;
    box-sizing: border-box;
}

.date-text:hover {
    color: white;
    background-color: #522823;
    border: 2px solid #522823;
    box-sizing: border-box;
    cursor: pointer;
}

.picker-item
    input[type="radio"]:checked
    + .custom-radio-box
    + .day-text
    + .date-text {
    background-color: #522823;
    border-color: #522823;
    color: white;
    text-shadow: none;
    font-weight: bold;
}

.picker-item input[type="radio"]:checked + .custom-radio-box + .day-text {
    color: #522823;
}

.picker-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* 모달 오버레이 및 레이아웃 */
.reservation-wrap .modal-overlay {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: #fce9ed;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.reservation-wrap .modal-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reservation-wrap .modal-content .closeBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.reservation-wrap .modal-content section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reservation-wrap .modal-content section ol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.reservation-wrap .modal-content section .product-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.reservation-wrap .modal-content section .product-options .options-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.reservation-wrap
    .modal-content
    section
    .product-options
    .product-reservation-date {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.reservation-wrap
    .modal-content
    section
    .product-options
    .product-reservation-date
    .picker-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.reservation-wrap
    .modal-content
    section
    .product-options
    .product-reservation-date
    .picker-items
    .picker-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
}

.reservation-wrap
    .modal-content
    section
    .product-options
    .product-reservation-date
    .picker-items
    .picker-item
    .custom-radio {
    width: 100%;
}

@media (max-width: 1250px) {
    /* .reservation-controller {
        width: 100%;
    } */
    .reservation-controller .modal-overlay {
        width: 100%;
    }

    .custom-radio {
        gap: 0.5rem;
    }
}

@media (max-width: 1000px) {
    .reservation-controller {
        width: 100%;
    }
    .reservation-controller .modal-overlay {
        width: 100%;
    }

    .custom-radio {
        gap: 0.5rem;
    }
}

@media (max-height: 730px) {
    .reservation-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reservation-controller {
        width: 90%;
        height: 630px;
        overflow: auto;
    }

    .reservation-controller .modal-overlay {
        width: 100%;
    }
}

@media (max-height: 667px) {
    .reservation-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reservation-controller {
        width: 90%;
        height: 630px;
        overflow: auto;
    }

    .reservation-controller .modal-overlay {
        width: 100%;
    }
}
