.ServiceAreaModalOverlay {
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* 전체 화면을 덮음 */
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 10000; /* 가장 위에 배치 */
}

.ServiceAreaModal {
    padding: 20px;
    background-color: #ffffff; /* 모달 배경색 */
    border-radius: 5px; /* 모달 테두리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    width: 400px; /* 원하는 너비 설정 */
    height: 500px;
    overflow-y: scroll;
}

.ServiceAreaModalHeader {
    display: flex; /* 가로 방향으로 배치 */
    justify-content: left; /* 버튼 사이에 공간을 균등하게 배치 */
    margin-bottom: 15px; /* 헤더와 모달 내용 간격 */
}

.modalButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 15px; /* 버튼 패딩 */
    transition: color 0.3s, border-bottom 0.3s; /* 부드러운 전환 효과 */
}

.modalButton.active {
    border-bottom: 2px solid #fcc1cc; /* 활성화된 버튼의 아래쪽 테두리 */
    color: #fcc1cc; /* 활성화된 버튼의 글자색 */
}

/* 모달 스타일 */
.serviceModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%; /* 전체 너비 사용 */
}

.serviceModal .modalTitle {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.serviceModal .modalMainMenu, .serviceModal .modalSubMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.serviceModal .modalMainMenu {
    border: 1px solid #b2b2b2; /* 메인 메뉴 테두리 */
}

.serviceModal li {
    width:100%;
    margin: 0;
    box-sizing: border-box;
}

.serviceModal .menuTitle {
    display: flex; /* Flexbox를 사용하여 아이템들을 가로로 배치 */
    justify-content: space-between; /* 제목과 아이콘 사이에 공간을 균등하게 배치 */
    align-items: center; /* 수직 정렬 */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px; /* 메뉴 항목 패딩 */
    border-bottom: 1px solid #b2b2b2; /* 항목 구분선 */
    transition: background-color 0.3s; /* 부드러운 전환 효과 */
}

.serviceModal .menuTitle:hover {
    background-color: #e0e0e0; /* Hover 효과 */
}

.serviceModal .modalSubMenu li {
    font-size: 16px;
    border-bottom: 1px solid #b2b2b2; /* 하위 메뉴 항목 구분선 */
    padding: 10px; /* 하위 메뉴 항목 패딩 */
    cursor: pointer; /* 기본 커서 */
}
.serviceModal .modalSubMenu li:hover{
    background-color: #e0e0e0; /* Hover 효과 */
}

.areaModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%; /* 전체 너비 사용 */
}
.areaModal .areaModaltile{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.areaModal .modalMainMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
}
.areaModal .modalMainMenu li{
    display: flex;
    padding:10px;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #b2b2b2;
}
.areaModal .modalMainMenu li:hover{
    background-color: #e0e0e0; /* Hover 효과 */
    cursor: pointer;
}
@media (max-width: 1250px) {
    .ServiceAreaModalOverlay {
        width: 412px;
        padding: 0; /* 모달 오버레이의 패딩 제거 */
    }

    .ServiceAreaModal {
        width: 100%; /* 모달 너비를 100%로 설정 */
        height: 100%; /* 모달 높이를 100%로 설정 */
        border-radius: 0; /* 모서리 둥글기 제거 */
    }

    .closeButton {
        position: absolute; /* 닫기 버튼 위치 절대값으로 설정 */
        top: 10px; /* 상단 위치 */
        right: 10px; /* 우측 위치 */
        background-color: transparent; /* 배경색 투명 */
        border: none; /* 기본 버튼 스타일 제거 */
        font-size: 20px; /* 폰트 크기 조정 */
        cursor: pointer; /* 커서 변경 */
    }
}