.service_areaHeader{
    display: flex;
    gap:10px;
}
.service_areaHeader .serviceBtn, .service_areaHeader .areaBtn, .service_areaHeader .filterResetBtn {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    font-size: 1rem;
    padding: .4375rem 1rem .5625rem;
    height: 2.5em;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #d4d4d4;
}

.service_areaHeader .selectedService {
    background-color: black; /* 배경색을 검은색으로 설정 */
    color: white; /* 글자색을 흰색으로 설정 */
}

.service_areaHeader .serviceBtn, .service_areaHeader .filterResetBtn {
    padding: 10px 15px; /* 버튼 패딩 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}
