.LoginPage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}

.ModalWrap {
    display: none; 
}

.ModalWrap.show {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}

#login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}

.LoginPage .login-align{
    width: 320px; 
    align-items: center;
}

.LoginPage .loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F4F4F4;
    width: 400px;
    border-radius: 25px;
    background-color: #F4F4F4;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.LoginPage .emailbox, .LoginPage .pwdbox {
    border-radius: 10px; 
    border-style: none;
    padding: 12px 12px; 
    font-size: 16px; 
    width: 320px; 
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

.LoginPage .emailbox:focus,.LoginPage .pwdbox:focus {
    box-sizing: border-box;
    outline: #fcc1cc;
    border: 2px solid #fcc1cc;
    box-sizing: border-box;
}

.LoginPage .emailLoginBtn, .LoginPage .kakaoLoginBtn, .LoginPage .naverLoginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    box-sizing: border-box;
    padding: 10px 20px;           
    font-size: 16px;              
    border-radius: 10px;             
    color: white;   
    width: 320px;            
    cursor: pointer;  
    font-weight: bold;
}

.LoginPage .emailLoginBtn {    
    border: 1px solid #FFD8E4;   
    background-color: #FFD8E4;       
}

.LoginPage .emailLoginBtn:hover {
    background-color: white; 
    color: #fd9bb9; 
}

.LoginPage .kakaoLoginBtn { 
    border: 1px solid #FEE500;   
    background-color: #FEE500;       
    color: #ffffff;
}

.LoginPage .kakaoLoginBtn:hover {
    background-color: #ffffff;
    border-color: #fee500;
    color: #401717;
}

.LoginPage .kakaoLoginBtn:hover .kakaoImg {
    content: url("../../src/image/kakao_wine.svg");
}

.LoginPage .naverLoginBtn {    
    border: 1px solid #03C75A;   
    background-color: #03C75A;       
}

.LoginPage .naverLoginBtn:hover {
    background-color: #ffffff;
    border-color: #03C75A;
    color:#03C75A;
}

.LoginPage .naverLoginBtn:hover .naverImg {
    content: url("../../src/image/naver_green.svg");
}

.LoginPage .find {
    display: inline-block; 
    margin-right: 25px; 
    font-weight: bold;
}

.LoginPage .find input[type='button'] {
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: #737373; 
    font-size: 11px; 
    background-color: transparent;
}

.LoginPage .find input[type='button']:hover {
    color: lightcoral; 
}

.LoginPage .find a {
    border: none;
    text-decoration: none; 
    color: #737373; 
    font-size: 11px; 
}

.LoginPage .find a:hover {
    color: lightcoral; 
}

.LoginPage .LoginPage input[type="password"] {
    margin-top: 5px; 
}

.LoginPage .LoginPage input[type="email"] {
    margin-top: 5px; 
}

.LoginPage .box {
    margin-top: 1em;
    margin-bottom: 1em;
}

.LoginPage .error {
    font-size: 0.725rem;
    width: 80%;
    color: red;
}

@media screen and (max-width: 1250px) {
    .LoginPage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90vh;
    }

    .LoginPage #login_container {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .LoginPage #login_container h1 {
        text-align: center;
        width: 100%;
        color: #525252;
        font-size: 1.2rem;
        margin-bottom: 1.2em;
    }

    .LoginPage #login_container .loginbox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 100%;
        background-color: #ffffff;
        border: none;
        border-top: 2px solid #f2f2f2;
        border-radius: 0;
        padding-top: 2em;
        box-sizing: border-box;
    }

    .LoginPage #login_container .loginbox .login-align,
    .LoginPage #login_container .loginbox .box,
    .LoginPage #login_container .loginbox .login-function {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .LoginPage #login_container .loginbox .login-function {
        justify-content: center;
    }

    .LoginPage #login_container .loginbox .snsWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .LoginPage #login_container .loginbox .snsWrap button {
        width: 100%;
    }

    .LoginPage #login_container .loginbox .box button,
    .LoginPage #login_container .loginbox .box  {
        width: 100%;
    }

    .LoginPage #login_container .loginbox input[type='text'],
    .LoginPage #login_container .loginbox input[type='password'],
    .LoginPage #login_container .loginbox input[type='email'] {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 0;
        border-bottom: 1px solid #fcc1cc;
        height: 2.5em;
        box-sizing: border-box;
        color: #626262;
    }

    .LoginPage #login_container .loginbox input[type='text']:focus,
    .LoginPage #login_container .loginbox input[type='text']:not(:placeholder-shown),
    .LoginPage #login_container .loginbox input[type='password']:focus,
    .LoginPage #login_container .loginbox input[type='password']:not(:placeholder-shown),
    .LoginPage #login_container .loginbox input[type='email']:focus,
    .LoginPage #login_container .loginbox input[type='email']:not(:placeholder-shown) {
        border-bottom: 2px solid lightcoral;
        box-sizing: border-box;
    }
}