.header {
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
}

.topWrap {
    width: 60%;
    max-width: 1200px; /* 최대 너비를 설정하여 큰 화면에서도 너무 넓지 않도록 */
    min-width: 768px; /* 최소 너비 설정하여 작은 화면에서는 레이아웃 깨짐 방지 */
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #fcc1cc;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #fcc1cc;
}

.nav {
    display: flex;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav input {
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}