/* 공통 스타일 */
h1{
    font-size:1.5rem;
}
.indexPage h1, .indexPage h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.indexPage p {
    color: #666;
    font-size: 14px;
}

.indexPage .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.indexPage img {
    max-width: 100%;
    height: auto;
}

.indexPage .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.indexPage .grid {
    display: grid;
    gap: 10px;
}

.indexPage button,.indexPage span {
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 메인 배너 */
.mainBannerWrap {
    text-align: center;
    padding: 40px 0;
    background-color: white;
}

.mainBannerWrap h1 {
    font-size: 28px;
}

.searchCategoryWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchBarWrap {
    background-color: #eee;
    width: 70%;
    height: 50px;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    padding: 0 10px; /* 내부 여백 설정 */
    border-radius: 10px;
    border:2px solid #eee;
    box-sizing: border-box;
}
.searchBarWrap:focus-within{
    border: 2px solid #fcc1cc;
    background-color: white;
    box-sizing: border-box;
}
.searchBarWrap img {
    margin-right: 10px; /* 이미지와 입력창 간격 */
    width: 20px;
    height: 20px;
}

.searchCategoryWrap input {
    flex: 1; /* 입력창이 남은 공간 채우도록 설정 */
    padding: 10px;
    height: 30px;
    background-color: #eee;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size:16pt;
    align-items: center; /* 세로 정렬 */
    vertical-align: middle;
}

.searchCategoryWrap input:focus {
    outline: none;
    background-color: white;
    box-sizing: border-box;
}

/* 카테고리 */
.categories {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.categories a:active{text-decoration: none; color:black;}
.categories a:link{text-decoration: none; color:black;}
.categories a:hover{text-decoration: none; color:black;}
.categories a:visited{text-decoration: none; color:black;}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* 배너 */
.bannerWrap {
    margin:0 auto;
    width:85%;
    height: 100px;
    text-align: center;
    background-color: black;
    /* background-image: url("./src/image/car.png"); */
    border-radius: 10px;
}

/* 리뷰 */
.reviewsWrap {
    padding: 40px;
    background-color: white;
}

.reviewsWrap h2 {
    margin-bottom: 20px;
}

.review-cards {
    display: flex;
    width: 100%;
    gap: 20px;
}

.review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    height: 300px;
    text-align: left;
    position: relative;
}

.review-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-card strong {
    position: absolute;
    top: 30px;
    left: 70px;
}

.review-card strong:nth-of-type(2) {
    color: rgb(126, 124, 124);
    font-weight: normal;
    top: 50px;
}

.review-card p:nth-of-type(2) {
    margin-top: 10px;
}

.review-card p:nth-of-type(3) {
    margin-top: 10px;
}

.clientName {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* 키워드 */
.keywordWrap {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
  
.carousel-track {
    overflow: hidden;
    width: 100%;
}
  
.keyword-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}
  
.keyword-image {
    flex: 0 0 calc(33.33% - 19px); /* 기본: 3개씩 표시 */
    height: 340px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
  
.keyword-image div {
    height: 100%;
    display: flex;
    font-size: 1.5em;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.keyword-image:hover div {
    opacity: 1;
    background-color: rgba(50, 50, 50, 0.7);
}

.carousel {
    display: flex;
    align-items: center;
    position: relative; /* 버튼을 바깥에 위치시키기 위해 relative로 설정 */
    overflow: visible;
    width: 100%;
    padding: 0 40px; /* 양옆 여백을 추가하여 버튼이 내부에 겹치지 않도록 설정 */
}

.carousel-button {
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    color: #333;
    z-index: 10;
    position: absolute; /* 절대 위치 지정 */
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.prev {
    left: -30px; /* 왼쪽 버튼을 carousel 바깥에 위치시킴 */
}

.carousel-button.next {
    right: -20px; /* 오른쪽 버튼을 carousel 바깥에 위치시킴 */
}

.carousel-button:hover {
    border-radius: 50%;
    background-color: #bbb;
}
  

/* 위치 목록 */
.locationsWrap {
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 0 40px 20px 40px;
}

.locationsWrap h2 {
    text-align: left;
    margin-bottom: 10px;
}
.locationsWrap p{
    text-align: left;
}
.city-listWrap {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: start;
    margin-top: 10px;
    gap:5px;
}

.city-listWrap span {
    width:auto;
    height: auto;
    padding: 10px;
    background-color: #EFF9F9;
    border-radius: 20px;
    font-size: 16px;
    white-space: nowrap;
    color:#00C7AE;
}

/* 반응형 스타일 */
@media (max-width: 1250px) {
    .main-content{
        width: 100%;
    }
    .indexPage h1, h2 {
        font-size: 20px; /* 제목 크기 조정 */
    }

    .indexPage p {
        font-size: 12px; /* 본문 크기 조정 */
    }

    .indexPage span{
        font-size: 15px;
    }

    .indexPage .container {
        padding: 10px; /* 패딩 감소 */
    }

    .mainBannerWrap {
        padding: 20px 0; /* 배너 패딩 조정 */
    }

    .searchCategoryWrap {
        width: 90%; /* 검색 바 폭 조정 */
        margin: 0 auto; /* 가운데 정렬 */
    }

    .searchBarWrap {
        width: 100%; /* 검색 바 폭을 100%로 */
        height: 50px; /* 높이 조정 */
    }
    .searchBarWrap input {
        font-size: 12pt;
    }
    .searchBarWrap img{
        width: 20px;
        height: 20px;
    }
    .categories {
        display: grid; /* 그리드 사용 */
        width: 100%;
        grid-template-columns: repeat(3, 1fr); /* 3개 열, 각 열 동일한 비율 */
        justify-items: center; /* 각 아이템을 중앙 정렬 */
        gap: 10px; /* 간격 조정 */
        font-size: 16pt
    }

    .category-item {
        width: 100%; /* 각 아이템의 폭을 100%로 설정 */
        display: flex; /* 플렉스 사용 */
        flex-direction: column; /* 세로 방향으로 정렬 */
        align-items: center; /* 중앙 정렬 */
        text-align: center; /* 텍스트 중앙 정렬 */
        padding: 10px; /* 패딩 추가 */
        box-sizing: border-box; /* 패딩과 보더를 포함하도록 설정 */
    }

    .bannerWrap {
        width: 95%; /* 배너 폭 조정 */
        height: 80px; /* 배너 높이 조정 */
    }

    .reviewsWrap {
        padding: 20px; /* 리뷰 패딩 조정 */
    }

    .reviewsWrap h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    
    .review-cards {
        display: flex; /* 리뷰 카드를 가로로 배치 */
        flex-direction: column; /* 세로로 배치 */
        gap: 20px; /* 카드 간격 조정 */
        width: 100%; /* 전체 폭 사용 */
    }

    .review-card {
        width: 100%; /* 리뷰 카드 폭을 100%로 */
        height: 250px; /* 높이 자동 조정 */
        margin-bottom: 20px; /* 카드 간격 조정 */
        box-sizing: border-box; /* 패딩과 보더를 포함하도록 설정 */
    }

    .keywordWrap {
        padding: 0 20px 20px 20px;
    }

    .keywordWrap h2{
        font-size: 1.5em;
    }

    .keyword-images {
        display: flex; /* 가로 정렬 */
        flex-direction: row; /* 가로로 배치 */
        gap: 20px; /* 이미지 간격 조정 */
        justify-content: start; /* 왼쪽 정렬 */
    }

    .keyword-image {
        height: 150px; /* 키워드 이미지 높이 조정 */
        width: 100%; /* 가로 폭 조정 */
    }

    .locationsWrap {
        padding: 0 20px; /* 위치 목록 패딩 조정 */
    }
    
    .locationsWrap h2{
        font-size: 1.5em;
    }

    .locationsWrap p{
        font-size:16pt;
    }

    .city-listWrap {
        grid-template-columns: repeat(3, 1fr); /* 3열로 조정 */
        gap: 10px; /* 간격 조정 */
        margin-bottom: 1em;
    }

    .city-listWrap span {
        font-size:16pt;
        width: auto; /* 폭 자동 조정 */
        height: auto;
        padding: 10px; /* 패딩 조정 */
    }
    .keywordWrap{
        width: 80%;
    }

    .keyword-image {
        flex: 0 0 calc(50% - 19.5px); /* 2개씩 표시 */
    }

    .carousel{
        padding: 0;
    }

    .carousel-button.prev {
        left: -30px; /* 왼쪽 버튼을 carousel 바깥에 위치시킴 */
    }
    
    .carousel-button.next {
        right: -10px; /* 오른쪽 버튼을 carousel 바깥에 위치시킴 */
    }
}
