.ArticleMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ArticleMainWrap {
    width: 100%;
    margin-top: 5%;
}

.TopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 50px;
    background-color: #ffffff;
    z-index: 9990;
}

.TopContainer .ButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.TopContainer .ButtonWrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.TopContainer .ButtonWrap svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.TopContainer .ButtonWrap button {
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #fcc1cc;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.TopContainer .ButtonWrap button:hover {
    cursor: pointer;
    background-color: lightcoral;
    color: #ffffff;
}

.MainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;    
}

.MainContainer .Main-LeftContainer {
    position: sticky;
    z-index: 9980;
    display: flex;
    align-items: flex-start;
    flex: 0 0 25%;
    padding: 10px;
    width: 100%;
    top: 120px;
}

.MainContainer .Main-RightContainer {
    flex: 0 0 75%;
    padding: 10px;
    width: 70%;
}

.life-topic-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: -1.2em;
}

.life-topic-layout section {
    width: 90%;
}

.life-topic-layout section ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 0px 5px 0px;
    margin-left: -0.8em;
    box-sizing: border-box;
    width: 100%;
}

.life-topic-layout section ul li {
    width: 100%;
    list-style: none;
    padding: 20px 10px;
    box-sizing: border-box;
}

.life-topic-layout section ul li a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.life-topic-layout section ul li:hover {
    background-color: #fcc1cc;
    border-radius: 10px;
}

.life-topic-layout section ul li:hover a {
    color: #ffffff;
}

.NotionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.NotionContainer div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.NotionContainer div:nth-child(2) {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
}

.NotionContainer div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.NotionContainer div:nth-child(3) img {
    width: 20px;
    height: 20px;
}

.HotArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.HotArticleContainer .HotList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.HotArticleContainer .HotList .HotWrap {
    flex: 1 1 calc(50% - 1em);
    box-sizing: border-box;
    max-width: calc(50% - 1em);
    background-color: rgb(226, 255, 252);
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
}

.HotArticleContainer .HotList .HotWrap:hover {
    cursor: pointer;
}

.HotArticleContainer .HotList .HotWrap .viewWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(1) {
    width: 90%;
    color: #828282;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1em;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(1),
.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    padding: 20px 0px 5px 0px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(1) img,
.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(2) img {
    width: 15px;
    height: 15px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(1) span,
.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(2) span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0.3em;
}

.LatestArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.LatestArticleContainer .LatestList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.LatestArticleContainer .LatestList .LatestWrap {
    flex: 1 1 calc(50% - 1em);
    box-sizing: border-box;
    max-width: calc(50% - 1em);
    background-color: #ffdae0;
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
}

.LatestArticleContainer .LatestList .LatestWrap:hover {
    cursor: pointer;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(1) {
    width: 90%;
    color: #828282;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1em;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(1),
.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    padding: 20px 0px 5px 0px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(1) img,
.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(2) img {
    width: 15px;
    height: 15px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(1) span,
.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(2) span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0.3em;
}

.AllArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.AllArticleContainer .AllList {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dedede;
}

.AllArticleContainer .AllList .AllWrap {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.AllArticleContainer .AllList .AllWrap:hover {
    cursor: pointer;
}

.AllArticleContainer .AllList .AllWrap .viewWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .titleWrap div:nth-child(1) {
    width: 90%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .titleWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .titleWrap div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .contentWrap {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .contentWrap div {
    width: 95%;
    color: #828282;
    vertical-align: text-top;
    margin-top: 1em;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .imageWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .imageWrap div:nth-child(1),
.AllArticleContainer .AllList .AllWrap .viewWrap .imageWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 15%;
    padding: 20px 0px 5px 0px;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .imageWrap div:nth-child(1) img,
.AllArticleContainer .AllList .AllWrap .viewWrap .imageWrap div:nth-child(2) img {
    width: 15px;
    height: 15px;
}

.AllArticleContainer .AllList .AllWrap .viewWrap .imageWrap div:nth-child(1) span,
.AllArticleContainer .AllList .AllWrap .viewWrap .imageWrap div:nth-child(2) span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}