.ArticleMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ArticleMainWrap {
    width: 100%;
    margin-top: 5%;
}

.TopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 50px;
    background-color: #ffffff;
    z-index: 9990;
}

.TopContainer .ButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.TopContainer .ButtonWrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.TopContainer .ButtonWrap svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.TopContainer .ButtonWrap button {
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #fcc1cc;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.TopContainer .ButtonWrap button:hover {
    cursor: pointer;
    background-color: lightcoral;
    color: #ffffff;
}

.MainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;    
}

.MainContainer .Main-LeftContainer {
    position: sticky;
    z-index: 9980;
    display: flex;
    align-items: flex-start;
    flex: 0 0 25%;
    padding: 10px;
    width: 100%;
    top: 120px;
}

.MainContainer .Main-RightContainer {
    flex: 0 0 70%;
    padding: 10px;
    width: 70%;
}

.life-topic-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: -1.2em;
}

.life-topic-layout section {
    width: 90%;
}

.life-topic-layout section ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 0px 5px 0px;
    margin-left: -0.8em;
    box-sizing: border-box;
    width: 100%;
}

.life-topic-layout section ul li {
    width: 100%;
    list-style: none;
    padding: 20px 10px;
    box-sizing: border-box;
}

.life-topic-layout section ul li a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.life-topic-layout section ul li:hover {
    background-color: #fcc1cc;
    border-radius: 10px;
}

.life-topic-layout section ul li:hover a {
    color: #ffffff;
}

.NotionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.NotionContainer div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.NotionContainer div:nth-child(2) {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
    width: 75%;
}

.NotionContainer div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.NotionContainer div:nth-child(3) img {
    width: 20px;
    height: 20px;
}

.HotArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.HotArticleContainer .HotList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.HotArticleContainer .HotList .HotWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 0.5em);
    box-sizing: border-box;
    background-color: rgb(226, 255, 252);
    border-radius: 10px;
    padding: 10px;
}

.HotArticleContainer .HotList .HotWrap:hover {
    cursor: pointer;
}

.HotArticleContainer .HotList .HotWrap .viewWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(1) {
    width: 90%;
    color: #828282;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1em;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap .imageWrap-icon{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    padding: 20px 0px 5px 0px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap .imageWrap-icon img {
    width: 15px;
    height: 15px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap .imageWrap-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0.3em;
    color: #828282;
}

.LatestArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.LatestArticleContainer .LatestList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.LatestArticleContainer .LatestList .LatestWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 0.5em);
    box-sizing: border-box;
    background-color: #ffdae0;
    border-radius: 10px;
    padding: 10px;
}

.LatestArticleContainer .LatestList .LatestWrap:hover {
    cursor: pointer;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(1) {
    width: 90%;
    color: #828282;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1em;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap .imageWrap-icon {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    padding: 20px 0px 5px 0px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap .imageWrap-icon img {
    width: 15px;
    height: 15px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap .imageWrap-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0.3em;
    color: #828282;
}

.AllArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.AllArticleContainer .FeedItemWrap .FeedItemLink{
    width: 100%;
}
.AllArticleContainer .FeedItemLink:link{text-decoration: none; color: black}
.AllArticleContainer .FeedItemLink:hover{text-decoration: none; color: black}
.AllArticleContainer .FeedItemLink:active{text-decoration: none; color: black}
.AllArticleContainer .FeedItemLink:visited{text-decoration: none; color: black}

.FeedItemWrap{
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .ArticleMainContainer {
        width: 100%;
    }

    .ArticleMainContainer .ArticleMainWrap {
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .ArticleMainContainer .ArticleMainWrap .TopContainer {
        position: sticky;
        top: 0;
        left: 0;
    }

    .MainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .MainContainer .Main-LeftContainer {
        position: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout section ul {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 1em;
        gap: 1em;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout section ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout section ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #f2f2f2;
        width: 100%;
        font-size: 10pt;
        padding: 0.4em 0;
        border-radius: 10px;
        margin: 0 auto;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout section ul li:hover {
        background-color: transparent;
        color: #323232;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout section ul li a:hover {
        background-color: #fcc1cc;
    }

    .MainContainer .Main-LeftContainer .life-topic-layout section ul li:hover a {
        color: #323232;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .NotionContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .NotionContainer div:nth-child(1),
    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .NotionContainer div:nth-child(3) {
        width: 20%;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .NotionContainer div:nth-child(2) {
        width: 60%;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .HotArticleContainer,
    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .LatestArticleContainer {
        width: 100%;
        overflow: hidden;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .HotArticleContainer .HotList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        justify-items: center;
        width: 100%;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .HotArticleContainer .HotList .HotWrap,
    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .LatestArticleContainer .LatestList .LatestWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .HotArticleContainer .HotList .HotWrap .viewWrap,
    .ArticleMainContainer .ArticleMainWrap .MainContainer .Main-RightContainer .LatestArticleContainer .LatestList .LatestWrap .viewWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .AllArticleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .AllArticleContainer h3 {
        width: 100%;
    }

    .AllArticleContainer .itemWrap {
        display: 100%;
        box-sizing: border-box;
        padding: 0;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .AllArticleContainer .itemWrap:last-child {
        margin-bottom: 0;
    }

    .AllArticleContainer .itemWrap .itemWrap-content {
        gap: 0;
    }

    .AllArticleContainer .itemWrap .itemWrap-content .itemWrap-title_content {
        width: 65%;
    }

    .AllArticleContainer .itemWrap .itemWrap-content .itemWrap-img {
        width: 35%;
    }

    .AllArticleContainer .itemWrap .itemWrap-bot .imageWrap {
        width: 60%;
    }

    .AllArticleContainer .itemWrap .itemWrap-bot .imageWrap div{
        width:20%;
    }

    .AllArticleContainer .itemWrap .itemWrap-bot .imageWrap div svg{
        width:100%;
    }

    .AllArticleContainer .itemWrap .itemWrap-bot .written-time-warp {
        width: 40%;
    }
}