.ArticleMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ArticleMainWrap {
    width: 100%;
    margin-top: 5%;
}

.ArticleMainWrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width:1px 0 0 0; border-color:#f2f2f2;
    opacity: 30%;
}

.TopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TopContainer .ButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.TopContainer .ButtonWrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.TopContainer .ButtonWrap svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.TopContainer .ButtonWrap button {
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #fcc1cc;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.TopContainer .ButtonWrap button:hover {
    cursor: pointer;
    background-color: lightcoral;
    color: #ffffff;
}

.TopContainer .MainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.MainContainer .Main-LeftContainer {
    flex: 0 0 25%;
    padding: 10px;
    width: 100%;
    height: 50vh;
    position: sticky;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MainContainer .Main-RightContainer {
    flex: 0 0 75%;
    padding: 10px;
}

.life-topic-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.life-topic-layout section {
    width: 80%;
}

.life-topic-layout section ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 0px 5px 0px;
    margin-left: 1em;
    box-sizing: border-box;
    width: 100%;
}

.life-topic-layout section ul li {
    width: 100%;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
}

.life-topic-layout section ul li a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.life-topic-layout section ul li:hover {
    background-color: #fcc1cc;
    border-radius: 10px;
}

.life-topic-layout section ul li:hover a {
    color: #ffffff;
}

.NotionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.NotionContainer div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.NotionContainer div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 75%;
}

.NotionContainer div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.NotionContainer div:nth-child(3) img {
    width: 20px;
    height: 20px;
}

.HotArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.HotArticleContainer .HotList {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.HotArticleContainer .HotList .HotWrap {
    display: flex;
    align-items: center;
    background-color: rgb(226, 255, 252);
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.HotArticleContainer .HotList .HotWrap:hover {
    cursor: pointer;
}

.HotArticleContainer .HotList .HotWrap .viewWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    color: #828282;
    overflow: hidden;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .titleWrap div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1em;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(1),
.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    padding: 20px 0px 5px 0px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(1) img,
.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(2) img {
    width: 15px;
    height: 15px;
}

.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(1) span,
.HotArticleContainer .HotList .HotWrap .viewWrap .imageWrap div:nth-child(2) span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0.3em;
}

.LatestArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.LatestArticleContainer .LatestList {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.LatestArticleContainer .LatestList .LatestWrap {
    display: flex;
    align-items: center;
    background-color: #ffdae0;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

.LatestArticleContainer .LatestList .LatestWrap:hover {
    cursor: pointer;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    color: #828282;
    overflow: hidden;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .titleWrap div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    gap: 1em;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(1),
.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    padding: 20px 0px 5px 0px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(1) img,
.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(2) img {
    width: 15px;
    height: 15px;
}

.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(1) span,
.LatestArticleContainer .LatestList .LatestWrap .viewWrap .imageWrap div:nth-child(2) span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0.3em;
}