.free-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.free-board-wrap {
    width: 95%;
    margin-top: 5%;
}

.free-board-wrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width:1px 0 0 0; border-color:#f2f2f2;
    opacity: 30%;
}

/* 가이드 배너 */
.free-board-container .guide-banner-layout {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FCF5EA;
    padding: 1.3em 1em;
    margin-bottom: 2em;
}

.free-board-container .guide-banner-layout div:nth-child(1) {
    display: flex;
    align-items: center;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
    width: 95%
}

.free-board-container .guide-banner-layout div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.free-board-container .guide-banner-layout div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

.free-board-container .life-topic-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: -1.2em;
}

.FeedContainer a:link{text-decoration: none; color: black;}
.FeedContainer a:hover{text-decoration: none; color: black;}
.FeedContainer a:active{text-decoration: none; color: black;}
.FeedContainer a:visited{text-decoration: none; color: black;}

@media screen and (max-width: 1250px) {
    .free-board-container {
        width: 100%;
    }

    .free-board-container .free-board-wrap {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .free-board-container .free-board-wrap .TopContainer {
        position: sticky;
        top: 0;
        left: 0;
    }

    .free-board-container .MainContainer .Main-RightContainer {
        width: 100%;
    }

    .free-board-container .FeedContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }

    .free-board-container .FeedContainer .itemWrap-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .free-board-container .FeedContainer .itemWrap {
        padding: 0.5em;
        margin-top: 1rem;
        padding-bottom: 2rem;
    }

    .free-board-container .FeedContainer .itemWrap-content .itemWrap-title_content {
        width: 65%;
    }

    .free-board-container .FeedContainer .itemWrap-content .itemWrap-img {
        width: 35%;
    }

    .free-board-container .FeedContainer .itemWrap-content .itemWrap-img img {
        width: 80px;
        height: 80px;
    }

    .free-board-container .FeedContainer .itemWrap-bot .imageWrap {
        width: 80%;
    }

    .free-board-container .FeedContainer .itemWrap-bot .written-time-warp {
        width: 20%;
    }
}