.free-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.free-board-container .LatestReviewTop{
    width:100%;
}
.free-board-container .ReviewWrap {
    width: 100%;
    margin-top: 5%;
}

.free-board-container .ReviewWrap .ReviewListWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ReviewListWrap .PageTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.ReviewListWrap .PageTitle .prev {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5%;
}

.ReviewListWrap .PageTitle .prev img {
    height: 20px;
    width: 20px;
}

.ReviewListWrap .PageTitle h1 {
    width: 95%;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst {
    width: 100%;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul {
    width: 100%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li {
    width: 100%;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-bottom:1px solid rgba(200, 200, 200, 0.5);
    margin-bottom: 1em;
    padding-bottom: 2em;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: left;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(1) span {
    font-weight: 600;
    color: var(--white23Text-color);
    font-size: 12pt;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 0;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(2) p {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--white34Text-color);
    font-size: 10pt;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(3) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(3) .ImageFeat {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(3) > *:nth-child(n + 7) {
    display: none;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(3) .ImageFeat img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(4) {
    display: flex;
    align-items: center;
    width: 100%;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(4) .content {
    white-space: pre-wrap;
    width: 100%;
    color: var(--grayText-color);
    font-size: 12pt;
}

.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(5){
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(5) span {
    color: var(--grayText-color);
    font-size: 11pt;
}
.free-board-container .myReviewPageGo{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--guideBackground-color);
    padding: 1.3em 1em;
    margin-bottom: 2em;
    color: var(--text-color);
}

.free-board-container .myReviewPageGo div:nth-child(1) {
    display: flex;
    align-items: center;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    word-break: break-word;
    width: 95%
}

.free-board-container .myReviewPageGo div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.free-board-container .myReviewPageGo div:nth-child(2) img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1250px) {
    .free-board-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(3){
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap:10px;
    }

    .free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(3) .ImageFeat img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .free-board-container .ReviewWrap .ReviewListWrap .ReviewLIst ul li article section:nth-child(3) > *:nth-child(n + 4) {
        display: none;
    }

    .ReviewListWrap .PageTitle {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .ReviewListWrap .PageTitle .prev {
        width: 10%;
    }

    .ReviewListWrap .PageTitle h1 {
        width: 90%;
    }
}