.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-button, .nav-button {
    border-radius: 0.5rem;
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
}

.page-button.active {
    border-radius: 0.5rem;
    background-color: #fcc1cc;
    color: #fff;
    font-weight: bold;
}

.nav-button {
    background-color: #e0e0e0;
}

.nav-button:hover, .page-button:hover {
    background-color: #d0d0d0;
}

@media screen and (max-width: 1250px) {
    .page-button, .nav-button {
        border-radius: 0.5rem;
    margin: 0 5px;
    padding: 0.5rem 0.7rem;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 0.825rem;
    }
}