/* PostComment.css */
.post-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 95%;
    max-width: 600px;
    margin: 10px auto;
    background-color: #f9f9f9;
}

.comment-input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.upload-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.comment-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    padding: 5px;
}

/* 댓글 아이템 */
.commentItemWrap {
    margin-bottom: 16px;
    padding: 8px;
    padding-bottom: 1rem;
}

/* 댓글 작성자와 내용 */
.commentWriterWrap1{
    border-bottom: 1px solid #bbb;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 0.2rem;
}

.commentWriterWrap{
    display: grid;
    grid-template-columns: 5% 95%;
    box-sizing: border-box;
    padding: 0.2rem;
}
.commentLeftWrap{
    width: 100%;
}
.commentRightWrap{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 0.5rem;
    border-bottom: 1px solid #bbb;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 0.2rem;
}
/* 프로필 이미지 */
.profileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.commentProfileInfo{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.2rem;
    width:100%;
}

.replyBtnWrap, .rereplyBtn{
    display: flex;
    width:100%;
    justify-content: right;
    gap:0.3rem;
    align-items: center;
}

/* 답글 버튼 */
.replyBtn, .replyUpdateBtn, .replyDeleteBtn{
    border:none;
    background-color: white;
    margin-bottom: 0.4rem;
    cursor: pointer;
    align-items: center;
    height: 1.75rem;
    padding: 0 .5rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: #6a7685;
}

/* 대댓글 버튼 */
.rereplyBtn{
    /* border: 0.175rem solid #f2f2f2; */
    border:none;
    background-color: white;
    margin-bottom: 0.4rem;
    cursor: pointer;
    align-items: center;
    height: 1.75rem;
    padding: 0 .5rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: #6a7685;
}
.replyUpdateBtn, .replyDeleteBtn{
    padding-right: 12px;
    border-right: 0.175rem solid #e0e0e0;
    height: 15px;
}

/* 대댓글 입력 창 */
.replyInputWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 95%;
    max-width: 600px;
    margin: 10px auto;
    background-color: #f9f9f9;
}
.replyInputDiv{
    display: flex;
    align-items: center;
    width: 100%;
}
.replyInput {
    width:95%;
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    padding: 5px;
}
.replySubmitBtn, .commentSubmitBtn{
    width:7%;
    border:none;
    background-color: #f9f9f9;
    color:#504e4e;
    font-size:0.8rem;
    margin:0;
    padding:0;
    cursor: pointer;
}
/* 대댓글의 프로필 랩 */
.commentProfileWrap {
    display: flex;
    align-items: center; /* 프로필 이미지와 이름을 수직 중앙 정렬 */
}

/* 프로필 이미지 */
.profileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

/* 댓글 상세 */
.commentDetails {
    display: flex;
    flex-direction: column; /* 내용이 줄바꿈되도록 설정 */
    padding :0.2rem;
}
.commentDetails2{
    display: flex;
    flex-direction: column; /* 내용이 줄바꿈되도록 설정 */
    padding-left: 0.5rem;
}
.commentWriter {
    font-weight: bold;
    margin: 0; /* 마진 제거 */
}

.commentContent {
    margin: 0.2rem 0;
    display: flex;
    color: #333;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: auto;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.commentDate{
    font-size: 14px;
    color: #6f6f6f;
}
/* mention 스타일 */
.mention {
    background-color: #f2f2f2;
    padding: 0.2rem;
    border-radius: 5px;
    color: #007bff;
    font-weight: bold;
}

@media (max-width: 1250px) {
    .post-comment {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        width: 90%;
        max-width: 600px;
        margin: 10px auto;
        background-color: #f9f9f9;
    }
}