.post-content {
    font-family: Arial, sans-serif;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-text {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-top: 1em;
    margin-bottom: 20px;
}

.post-image-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 99%;
}

.post-image-wrapper img:nth-child(n+5) {
    display: none;
}

.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid #e2e2e2;
}

.post-image:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1250px) {
    .post-image-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 99%;
    }
    
    .post-image-wrapper img:nth-child(n+5) {
        display: none;
    }
    
    .post-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
}

/* 모달 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content img {
    width: 100%;
    height: 700px;
    max-height: 100%;
    object-fit: contain; /* 비율을 유지하며 이미지를 중앙에 맞춤 */
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
    color:white;
}

