/* 전체 컨테이너 */
.write-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 80vh;
}

.write-wrap>div:nth-child(1) {
    margin-top: 5%;
    box-sizing: border-box;
}

.write-container {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15), /* 메인 그림자 */
                -5px -5px 15px rgba(255, 255, 255, 0.7); /* 상단 하이라이트 그림자 */
}

/* 셀렉트 박스와 버튼 컨테이너 */
.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.select-container select {
    text-align: left;
    background-color: #fff;
    width: 150px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z' fill='%23333'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 15px;
}
.select-container select:hover{
    background-color: transparent;

}
.select-container select:focus{
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

/* 선택된 항목 스타일 */
.select-container select option {
    color: #333;
    background-color: #fff;
}

.select-container select option:checked {
    background-color: pink; /* 선택된 항목 배경을 핑크로 */
    color: #fff; /* 글씨 색상 흰색 */
}

.submit-button {
    padding: 10px 20px;
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: lightcoral;
}

/* 파일 업로드 */
.file-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-container input[type="file"] {
    display: none;
}

.file-container label {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
}

.file-container span {
    font-size: 12px;
    color: #888;
}

.file-container .camera-img{
    width: 30px;
}

.file-preview-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.file-preview-wrapper {
    position: relative;
    display: block;
}

.file-preview {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove-button:hover {
    background-color: darkred;
}

/* 제목 입력 스타일 */
.subject-container {
    display: flex;
    width: 100%;
}
.subject-container input {
    width: 80%;
    padding: 10px;
    border: none; /* 기본 테두리 */
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: -15px;
    outline: none; /* 포커스 시 기본 테두리 제거 */
}

.subject-container input::placeholder {
    color: #aaa;
}
.char-count{
    display: flex;
    justify-content: right;
    width: 22%;
}
/* 서비스와 지역 컨테이너 */
.service-area-wrap {
    margin-bottom: 20px;
}
/* 본문 입력 */
.content-container textarea {
    height: 200px;
    width: 100%; /* 부모 요소의 전체 너비 사용 */
    padding: 10px; /* 내부 여백 */
    border: none;
    border-radius: 4px; /* 둥근 모서리 */
    font-size: 14px; /* 글씨 크기 */
    margin-bottom: 10px; /* 하단 여백 */
    outline: none; /* 포커스 시 기본 테두리 제거 */
    resize: none; /* 크기 조절 제거 */
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--grayBackground-color);
    transition: border-color 0.3s, box-shadow 0.3s; /* 포커스 시 효과 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
    font-family: "Noto Sans KR", "Malgun Gothic", -apple-system, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.content-container input {
    color: #323232;
}

.content-container textarea::placeholder {
    color: #aaa; /* 플레이스홀더 색상 */
}

/* 본문 컨테이너 */
.content-container {
    width: 100%; /* 부모 요소의 전체 너비 사용 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
}

/* 구분선 */
.write-wrap hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

@media (max-width: 1250px) {
    #articleWriteForm, #articleUpdateForm {
        width: 100%;
        height: 100%;
    }

    .write-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .write-container {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .write-container .content-container {
        height: 40%;
    }

    .write-container .content-container textarea {
        height: 100%;
    }
}