.ChangePasswordPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ChangePasswordWrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width:1px 0 0 0; 
    border-color:#f2f2f2;
    opacity: 30%;
}

.ChangePasswordWrap {
    width: 80%;
    margin-top: 5%;
}

.ChangePasswordContainer input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    outline-style: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #b2b2b2;
}

.ChangePasswordContainer input[type="password"]:focus, .ChangePasswordContainer input[type="password"]:active {
    border-bottom: 1px solid lightcoral;
    box-sizing: border-box;
}