.ChangeEmailPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.ChangeEmailWrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width:1px 0 0 0; 
    border-color:#f2f2f2;
    opacity: 30%;
}

.ChangeEmailWrap {
    width: 80%;
    height: 80vh;
    padding-top: 5%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.ChangeEmailWrap .PageTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.ChangeEmailWrap .PageTitle .prev {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5%;
}

.ChangeEmailWrap .PageTitle .prev img {
    height: 20px;
    width: 20px;
}

.ChangeEmailWrap .PageTitle h1 {
    width: 95%;
}

.EmailWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.EmailWrap input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    outline-style: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #b2b2b2;
}

.EmailWrap input[type="text"]:focus, .EmailWrap input[type="text"]:active, .EmailWrap input[type="text"]:not(:placeholder-shown) {
    border-bottom: 1px solid lightcoral;
    box-sizing: border-box;
}

.ButtonContainer {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-bottom: 3em;
}

.ButtonContainer input[type="button"]:nth-child(1) {
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-weight: bold;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.ButtonContainer input[type="button"]:nth-child(2) {
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #fcc1cc;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.ButtonContainer input[type="button"]:nth-child(2):hover {
    cursor: pointer;
    background-color: lightcoral;
    color: #ffffff;
}

.ButtonContainer input[type="button"]:nth-child(1):hover {
    cursor: pointer;
    background-color: #8f8f8f;
    border-color: #8f8f8f;
    color: #f2f2f2;
}

.ChangeEmailPage .error {
    display: flex;
    align-items: center;
    justify-content: left;
    color: red;
    font-size: 0.825rem;
}

@media screen and (max-width: 1250px) {
    .ChangeEmailWrap .PageTitle {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .ChangeEmailWrap .PageTitle .prev {
        width: 10%;
    }

    .ChangeEmailWrap .PageTitle h1 {
        width: 90%;
    }
}