.ChangeAddressPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ChangeAddressWrap {
    width: 80%;
    margin-top: 5%;
}

.ChangeAddressWrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width:1px 0 0 0; 
    border-color:#f2f2f2;
    opacity: 30%;
}

.zipWrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.zipWrap .zipButton {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 15%;
}

#zipcodeBtn {
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #fcc1cc;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

#zipcodeBtn:hover {
    cursor: pointer;
    background-color: lightcoral;
    color: #ffffff;
}

.ChangeAddressWrap input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    outline-style: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #b2b2b2;
}

.ChangeAddressContainer #zipcode {
    width: 85%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    outline-style: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #b2b2b2;
}

.ChangeAddressWrap input[type="text"]:focus, .ChangePasswordContainer input[type="text"]:active, .ChangeAddressContainer #zipcode:focus, .ChangeAddressContainer #zipcode:active, .ChangeAddressWrap input[type="text"]:not(:placeholder-shown), .ChangeAddressContainer #zipcode:not(:placeholder-shown) {
    border-bottom: 1px solid lightcoral;
    box-sizing: border-box;
}