.ChangePasswordPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ChangePasswordWrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width:1px 0 0 0; 
    border-color:#f2f2f2;
    opacity: 30%;
}

.ChangePasswordWrap {
    width: 80%;
    margin-top: 5%;
}

.ChangePasswordWrap .PageTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.ChangePasswordWrap .PageTitle .prev {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5%;
}

.ChangePasswordWrap .PageTitle .prev img {
    height: 20px;
    width: 20px;
}

.ChangePasswordWrap .PageTitle h1 {
    width: 95%;
}

.ChangePasswordContainer input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    outline-style: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #b2b2b2;
}

.ChangePasswordContainer input[type="password"]:focus, .ChangePasswordContainer input[type="password"]:active {
    border-bottom: 1px solid lightcoral;
    box-sizing: border-box;
}

.ChangePasswordPage .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.ChangePasswordPage .error-message span {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    color: red;
    font-size: 0.825rem;
}

@media screen and (max-width: 1250px) {
    .ChangePasswordWrap .PageTitle {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .ChangePasswordWrap .PageTitle .prev {
        width: 10%;
    }

    .ChangePasswordWrap .PageTitle h1 {
        width: 90%;
    }
}