.ChangeAddressPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
}

.ChangeAddressWrap {
    width: 80%;
    min-height: 80vh;
    padding-top: 5%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.ChangeAddressWrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width: 1px 0 0 0;
    border-color: #f2f2f2;
    opacity: 30%;
}

.ChangeAddressWrap .PageTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.ChangeAddressWrap .PageTitle .prev {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5%;
}

.ChangeAddressWrap .PageTitle .prev img {
    height: 20px;
    width: 20px;
}

.zipWrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.zipWrap .zipButton {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 25%;
    color: white;
}

#zipcodeBtn {
    width: 80%;
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #fcc1cc;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

#zipcodeBtn:hover {
    cursor: pointer;
    background-color: lightcoral;
    color: #ffffff;
}

.ChangeAddressWrap input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    outline-style: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #b2b2b2;
}

.ChangeAddressContainer #zipcode {
    width: 85%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    outline-style: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #b2b2b2;
}

.ChangeAddressWrap input[type="text"]:focus,
.ChangePasswordContainer input[type="text"]:active,
.ChangeAddressContainer #zipcode:focus,
.ChangeAddressContainer #zipcode:active,
.ChangeAddressWrap input[type="text"]:not(:placeholder-shown),
.ChangeAddressContainer #zipcode:not(:placeholder-shown) {
    border: none;
    border-bottom: 1px solid lightcoral;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

.ChangeAddressWrap .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.ChangeAddressWrap .error-message span {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    color: red;
    font-size: 0.825rem;
}

@media screen and (max-width: 1250px) {
    .ChangeAddressWrap .PageTitle {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .ChangeAddressWrap .PageTitle .prev {
        width: 10%;
    }

    .ChangeAddressWrap .PageTitle h1 {
        width: 90%;
    }

    .ChangeAddressContainer .zipWrap .text {
        box-sizing: border-box;
        width: 60%;
    }

    .ChangeAddressContainer .zipWrap .zipButton {
        box-sizing: border-box;
        width: 80%;
    }
}
