.MyReservationPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
}

.MyReservationPage .MyReservationWrap {
    padding-top: 5%;
    width: 80%;
    min-height: 80vh;
    box-sizing: border-box;
    overflow-y: scroll;
}

.MyReservationPage .MyReservationWrap .PageTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.MyReservationPage .MyReservationWrap .PageTitle .prev {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5%;
}

.MyReservationPage .MyReservationWrap .PageTitle .prev img {
    height: 20px;
    width: 20px;
}

.MyReservationPage .MyReservationWrap .PageTitle h1 {
    width: 95%;
}

/* 뭐가 문제임?? */

@media screen and (max-width: 1250px) {
    .MyReservationPage .MyReservationWrap .PageTitle {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .MyReservationPage .MyReservationWrap .PageTitle .prev {
        width: 10%;
    }

    .MyReservationPage .MyReservationWrap .PageTitle h1 {
        width: 90%;
    }
}
