.UserPrivateInfoPage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.UserPrivateInfoWrap {
    width: 80%;
    height: 80vh;
    padding-top: 5%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.UserPrivateInfoWrap hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-width:1px 0 0 0; border-color:#f2f2f2;
    opacity: 30%;
}

.UserPrivateInfoPage .PageTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.UserPrivateInfoPage .PageTitle .prev {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 5%;
}

.UserPrivateInfoPage .PageTitle .prev img {
    height: 20px;
    width: 20px;
}

.UserPrivateInfoPage .MainContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.UserPrivateInfoPage .MainContainer .Text {
    display: flex;
    align-items: center;
    width: 75%;
    color: #b2b2b2;
}

.UserPrivateInfoPage .MainContainer .Button {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: right;
}

.UserPrivateInfoPage .MainContainer .Button input[type="button"] {
    font-size: 9pt;
    border-style: none;
    padding: 5px 20px;
    height: 30px;
    box-sizing: border-box;
    background-color: #fcc1cc;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 10px;
    transition: all 0.25s ease-out;
}

.UserPrivateInfoPage .MainContainer .Button input[type="button"]:hover {
    cursor: pointer;
    background-color: lightcoral;
    color: #ffffff;
}

.UserPrivateInfoPage .MainContainer div {
    width: 95%;
}

.UserPrivateInfoPage .MainContainer .Link {
    display: flex;
    width: 5%;
    justify-content: right;
    align-items: center;
}

.UserPrivateInfoPage .MainContainer .Link .next {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.UserPrivateInfoPage .MainContainer .Link .next img {
    height: 20px;
    width: 20px;
}

.UserPrivateInfoPage .LinkTag {
    text-decoration: none;
    color: black;
}

.UserPrivateInfoPage .LinkTag2 {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.UserPrivateInfoPage .LinkTag2:nth-child(1):hover {
    color: black;
}

.UserPrivateInfoPage .LinkTag2:nth-child(2):hover {
    color: red;
}

.UserPrivateInfoPage .functionContainer {
    display: flex;
    margin-bottom: 2em;
    gap: 1.5em;
}

@media screen and (max-width: 1250px) {
    .UserPrivateInfoPage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        overflow: auto;
    }

    .UserPrivateInfoWrap {
        height: 100%;
        position: relative;
    }

    .UserPrivateInfoWrap .PageTitle {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .UserPrivateInfoWrap .PageTitle .prev {
        width: 10%;
    }

    .UserPrivateInfoWrap .PageTitle h1 {
        width: 90%;
    }

    .UserPrivateInfoWrap .LinkTag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .UserPrivateInfoWrap .LinkTag .EmailContainer,
    .UserPrivateInfoWrap .LinkTag .PasswordContainer,
    .UserPrivateInfoWrap .LinkTag .AddressContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .UserPrivateInfoWrap .LinkTag .EmailContainer .MainContainer,
    .UserPrivateInfoWrap .LinkTag .PasswordContainer .MainContainer,
    .UserPrivateInfoWrap .LinkTag .AddressContainer .MainContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .UserPrivateInfoWrap .LinkTag .EmailContainer .MainContainer div:nth-child(1),
    .UserPrivateInfoWrap .LinkTag .PasswordContainer .MainContainer div:nth-child(1),
    .UserPrivateInfoWrap .LinkTag .AddressContainer .MainContainer div:nth-child(1) {
        width: 80%;
    }

    .UserPrivateInfoWrap .LinkTag .EmailContainer .MainContainer .Button input[type='button'] {
        width: 100%;
        font-size: 0.725rem;
        padding: 0;
        margin: 0;
    }

    .UserPrivateInfoWrap .LinkTag .EmailContainer .MainContainer .Link,
    .UserPrivateInfoWrap .LinkTag .PasswordContainer .MainContainer .Link,
    .UserPrivateInfoWrap .LinkTag .AddressContainer .MainContainer .Link {
        width: 20%;
    }

    .functionContainer {
        padding-bottom: 1rem;
    }
}