/* App 전체를 감싸는 컨테이너 */
.App {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background-color: var(--background-color);
}

/* 메인 콘텐츠를 담는 컨테이너 */
.main-content {
  width: 60%;
  max-width: 1200px; /* 최대 너비를 설정하여 큰 화면에서도 너무 넓지 않도록 */
  margin: 0 auto; /* 가운데 정렬 */
}

/* 다크모드 */
:root {
  --background-color: #ffffff;
  --fff32Background-color: #ffffff;
  --grayBackground-color: #cacaca;
  --locationBackground-color:#EFF9F9;
  --searchbarBackground-color:#eee;
  --calenderBackground-color:#ffe8ec;
  --loginBackground-color:#f4f4f4;
  --loginBtnBackground-color:#FFD8E4;
  --pinkBackground-color:#fcc1cc;
  --white32Background-color:#fff;
  --whiteE8Background-color:#e8e8e8;
  --noticeBackground-color:#F1F1F1;
  --HotBackground-color:#E2FFFC;
  --latestBackground-color:#ffdae0;
  --guideBackground-color:#FCF5EA;
  --commentBackground-color:#f9f9f9;
  --whiteC2Background-color:#c2c2c2;
  --text-color: #000000;
  --white23Text-color: #232323;
  --white34Text-color: #343434;
  --white44Text-color: #444;
  --white82Text-color: #828282;
  --white50Text-color: #504e4e;
  --white55Text-color: #555555;
  --grayText-color: #323232;
  --reviewText-color: #626262;
  --blackText-color: #fff;
  --pinkText-color: black;
  --blackGrayText-color: black;
  --locationText-color: #00C7AE;
}

[data-theme="dark"] {
  --background-color: #282828;
  --fff32Background-color: #323232;
  --grayBackground-color:#585858;
  --locationBackground-color:#323232;
  --searchbarBackground-color:#282828;
  --calenderBackground-color:#323232;
  --loginBackground-color:#323232;
  --loginBtnBackground-color:#323232;
  --pinkBackground-color:#323232;
  --white32Background-color:#323232;
  --whiteE8Background-color:#2f2f2f;
  --noticeBackground-color:#323232;
  --HotBackground-color:#323232;
  --latestBackground-color:#323232;
  --guideBackground-color:#323232;
  --commentBackground-color:#323232;
  --whiteC2Background-color:#2f2f2f;
  --text-color: #ffffff;
  --white23Text-color: #ffffff;
  --white34Text-color: #ffffff;
  --white44Text-color: #ffffff;
  --white82Text-color: #ffffff;
  --white50Text-color: #ffffff;
  --white55Text-color: #ffffff;
  --grayText-color: #ffffff;
  --reviewText-color: #ffffff;
  --blackText-color: #282828;
  --pinkText-color: #fcc1cc;
  --blackGrayText-color: #c2c2c2;
  --locationText-color: #EDEDED;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}


@media (max-width: 1250px) {
  .main-content{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
  }
}
