/* App 전체를 감싸는 컨테이너 */
.App {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background-color: white;
}

/* 메인 콘텐츠를 담는 컨테이너 */
.main-content {
  width: 60%;
  max-width: 1200px; /* 최대 너비를 설정하여 큰 화면에서도 너무 넓지 않도록 */
  margin: 0 auto; /* 가운데 정렬 */
}

/* 다크모드 */
/* :root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
} */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 1250px) {
  .main-content{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
  }
}
