.adminDashBoard-wrapper {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.adminDashBoard-header {
    padding: 15px;
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 20px;
}

.adminDashBoard-header p {
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.adminDashBoard-list-section {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
}

.adminDashBoard-list-header {
    padding: 10px;
    margin-bottom: 20px;
}

.adminDashBoard-list-header h4 {
    font-size: 16px;
    color: #2c3e50;
    font-weight: 600;
    margin: 0;
}

.adminDashBoard-list-header hr {
    border: none;
    height: 1px;
    background-color: #eaeaea;
    margin-top: 10px;
}

.adminDashBoard-member-box {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px; /* 높이를 동적으로 변경 */
}

/* 스타일을 공통으로 묶어 하나로 적용 */
.adminDashBoard-member-box:nth-child(1) {
    border-left: 4px solid #4CAF50;
}

.adminDashBoard-member-box:nth-child(2) {
    border-left: 4px solid #2196F3;
}

.adminDashBoard-member-box:nth-child(3) {
    border-left: 4px solid #f44336;
}

.adminDashBoard-count-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.adminDashBoard-count-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 260px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adminDashBoard-count-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminDashBoard-count-header p {
    font-size: 20px;
    color: #2c3e50;
    font-weight: 500;
    margin: 0;
}

.adminDashBoard-count-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.adminDashBoard-count-button:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    transform: scale(1.05);
}

.adminDashBoard-count-button:active {
    transform: scale(0.95);
}

.adminDashBoard-count-button span {
    color: #495057;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    margin-top: -2px;
}

/* 테이블 스타일 */
.adminDashBoard-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
    
}

.adminDashBoard-table th,
.adminDashBoard-table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    
    max-width: 200px; /* 각 열에 최대 너비 설정 */
    text-overflow: ellipsis; /* 넘치는 텍스트는 생략 부호(...)로 처리 */
    overflow: hidden;
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    
}


.adminDashBoard-table th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
}

.adminDashBoard-table tbody tr:nth-child(odd) {
    background-color: #fdfdfd;
}

.adminDashBoard-table tbody tr:nth-child(even) {
    background-color: #fff;
}

/* 차트 부분 */
.chart-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: stretch;
}

.adminDashBoard-chart {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 465px;
    margin-bottom: 50px;
}

.adminDashBoard-chart p {
    font-size: 20px;
    color: #2c3e50;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}

/* 차트 캔버스 크기 */
.adminDashBoard-chart .chart-container {
    position: relative;
    width: 100%;
    height: 400px;
}
