/* 전체 컨테이너 */
.membership-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

/* 내부 컨테이너 */
.membership-inner-container {
    background-color: #fafafa; /* 밝은 회색 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.membership-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4e4e4e; /* 어두운 회색 */
}

/* 구분선 스타일 */
.membership-divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #e0e0e0; /* 회색 */
}

/* 테이블 스타일 */
.membership-table {
    width: 100%;
    border-collapse: collapse;
}

.membership-table th,
.membership-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.membership-table th {
    background-color: #f0f0f0; /* 연한 회색 */
    color: #333;
    font-weight: bold;
}

.membership-table tbody tr:nth-child(odd) {
    background-color: #fdfdfd; /* 밝은 색 */
}

.membership-table tbody tr:nth-child(even) {
    background-color: #fff;
}

/* 상태 배지 스타일 */
.memberList-status-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* 승인 상태 */
.memberList-status-badge.approved {
    color: #28a745; /* 초록색 */
}

/* 박탈 상태 */
.memberList-status-badge.revoked {
    color: #dc3545; /* 빨간색 */
}


.pro-approved {
    color: #28a745; /* 초록색 */
    font-weight: bold;
}

/* 박탈 상태 (빨간색) */
.pro-revoked {
    color: #dc3545; /* 빨간색 */
    font-weight: bold;
}