.sidebar {
    width: 260px;
    min-height: 100vh;
    background-color: #27272a;  /* zinc-800 */
    color: white;
}

.sidelogo {
    padding: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color:white;
    border-bottom: 1px solid #3f3f46;  /* zinc-700 */
    font-size:30px;
}

.menu-list {
    flex: 1;
    list-style-type: none;  /* 추가: bullet point 제거 */
    padding: 0;  /* 추가: 기본 패딩 제거 */
    margin: 0;  /* 추가: 기본 마진 제거 */
}

.submenu {
    background-color: #18181b;  /* zinc-900 */
    list-style-type: none;  /* 추가: bullet point 제거 */
    padding: 0;  /* 추가: 기본 패딩 제거 */
    margin: 0;  /* 추가: 기본 마진 제거 */
}

.menu-item {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-item:hover {
    background-color: #3f3f46;  /* zinc-700 */
}

.submenu-trigger {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

.submenu-trigger:hover {
    background-color: #3f3f46;  /* zinc-700 */
}

.submenu-icon {
    transition: transform 0.2s;
}

.submenu-icon.open {
    transform: rotate(180deg);
}

.submenu-item {
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submenu-item:hover {
    background-color: #3f3f46;  /* zinc-700 */
}

/* Ensure the image is displayed correctly */
.submenu-icon-img {
    width: 1rem;  /* Set appropriate width */
    height: auto; /* Maintain aspect ratio */
}

/* 링크 밑줄 제거 */
.sideBar-Link{
    text-decoration: none;
    color: inherit; /* 기본 글자색 유지 */
}

.menu-list2 {
    position: absolute;
    display: flex;
    list-style-type: none;  /* 추가: bullet point 제거 */
    align-items: center;
    bottom: 0;
    padding: 0;  /* 추가: 기본 패딩 제거 */
    margin: 0;  /* 추가: 기본 마진 제거 */
    width: 260px;
}

.menu-list2 .sideBar-Link {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin: 0;
    color: #828282;
}

.menu-list2 .sideBar-Link .menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.menu-list2 .sideBar-Link:has(.menu-item:hover)  {
    color: red;
}

/* 수정 */